{% extends "layout.html" %}

{% block pageTitle %}
About Certification
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">How Certification Works</h1>

      <p>There are 9 steps to go through before you can be certified to join the IAX.</p>

    <h3 class="govuk-heading-m">Step 1 - start certification</h3>

      <p>Complete the <a href="https://github.com/kubabartwicki/verify-participants-joining/raw/master/app/assets/application-form.odt">application form</a> to start the certification process. Return it to the governing body at <a href="iax@digital.cabinet-office.gov.uk">iax@digital.cabinet-office.gov.uk</a></p>

        <p>Once you’ve been certified, you’ll be a member of the IAX.</p>

        <p>The form contains details about:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            your organisation
            </li>
          <li>
            your service
            </li>
          <li>
            how you meet the IAX’s standards and rules
            </li>
        </ul>

        <p>Your form will be reviewed by the governing body to ensure you meet the IAX’s <a href="/standards">standards and rules</a>.</p>

        <p>The governing body will confirm if you’re ready to work with an auditor and begin the certification process.</p>

    <h3 class="govuk-heading-m">Step 2 - start to work with an auditor</h3>

      <p>Check the IAX’s approved auditor list and find an auditor you’d like to work with.</p>

        <p>Once you’ve been certified, you’ll be a member of the IAX.</p>

        <p>You should agree how:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
          your relationship will work, for example in person or on email
            </li>
          <li>
          much you’ll pay your auditor
            </li>
          <li>
            long the certification process is likely to take
          </li>
        </ul>

        <p>Your auditor will answer any questions you have at this stage, and throughout the certification process.</p>


      <h3 class="govuk-heading-m">Step 3 - pre-assessment checks with your auditor</h3>

        <p>The governing body will send your chosen auditor your application form.</p>

          <p>Your auditor will review it and check that you meet the IAX’s:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              standards and rules
              </li>
            <li>
              pre-assessment criteria
              </li>

          </ul>

          <p>  They’ll ask for any evidence they need to see at this stage, for example proof of company registration.</p>

      <h3 class="govuk-heading-m">Step 4 - start the assessment process</h3>

          <p>You’ll need to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
            provide a description of your service
              </li>
            <li>
            complete the base criteria and any other criteria relevant to you
              </li>

          </ul>

          <p>  Your auditor will give you the necessary documents to complete and also guide you about the:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
            level of detail you need to provide
              </li>
            <li>
            specific areas to focus on
              </li>

          </ul>

      <h3 class="govuk-heading-m">Step 5 - review the evidence</h3>

        <p>If necessary, your auditor will contact you to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
            discuss the evidence you provided
              </li>
            <li>
            ask for further evidence
              </li>
            <li>answer any questions you have
              </li>
            <li>discuss what happens next
              </li>

              </ul>

            <p>  Depending on your role in the IAX, this may be the end of the process or your auditor may recommend an on-site audit.</p>

      <h3 class="govuk-heading-m">Step 6 - the on-site audit</h3>

        <p>The on-site audit will usually take about 2 days.</p>

          <p>Your auditor will tell you:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
            possible dates for the audit
              </li>
            <li>
            what they need to see during the on-site audit
              </li>
            <li>
            who they’ll need to see
              </li>
            <li>
            what areas they’ll be testing, for example security
              </li>

          </ul>

          <p>You should find a date that suits you both and when you can be certain that the auditor will see everybody and everything they need to.</p>

          <p>Your auditor will send you an agenda so you know what to expect.</p>


          <h3 class="govuk-heading-m">Step 7 - the on-site audit</h3>

            <p>The on-site audit will usually take about 2 days.</p>

              <p>Your auditor will tell you:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>
                possible dates for the audit
                  </li>
                <li>
                what they need to see during the on-site audit
                  </li>
                <li>
                who they’ll need to see
                  </li>
                <li>
                what areas they’ll be testing, for example security
                  </li>

              </ul>

              <p>You should find a date that suits you both and when you can be certain that the auditor will see everybody and everything they need to.</p>

              <p>Your auditor will send you an agenda so you know what to expect.</p>


        <h3 class="govuk-heading-m">Step 8 - after the on-site audit</h3>

          <p>At the end of the on-site audit, your auditor will let you know how it went.</p>

            <p>Your auditor may say:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>this is the end of your assessment
                </li>
              <li>you need to make some changes before they can complete their assessment
                </li>
            </ul>

          <p>Your auditor will send you an audit report which lists:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>when and how the audit was performed
                </li>
              <li>the participants
                </li>
              <li>what was assessed
                </li>
              <li>any fixes you may need to make before you can be certified
                </li>
            </ul>

      <h3 class="govuk-heading-m">Step 9 - recommendation to the governing body</h3>

          <p>Your auditor will send their audit report to the governing body along with the results of your assessment.</p>

      <h3 class="govuk-heading-m">Step 10 - join the IAX</h3>

        <p>The governing body will review the auditor’s decision and contact you within 2 weeks to confirm you can join the IAX.</p>

    </div>


  </div>



{% endblock %}
