{% extends "layout.html" %}

{% block pageTitle %}
  About Certification
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <a href="/eligibility-step2" class="govuk-back-link">Back</a>

        <form action="/eligibility-step4" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you follow a recognised security standard?
            </h1>

          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            for example ISO 27001 or equivalent
          </div>

          <p>
            </p>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="built-service-1" name="security-standard" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="built-service-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="built-service-2" name="security-standard" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="built-service-2">
                  No
                </label>
              </div>
            </div>

        </fieldset>

        <p>
          </p>

          <p>
            </p>


            <p>
              </p>

              <button class="govuk-button" data-module="govuk-button">Continue</button>

          </div>

          </form>



{% endblock %}
