{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">IAX certification</h1>

      <p>
        This is a prototype for onboarding organisations who want to join the Identity and Attributes Exchange (IAX) as an identity or attribute provider or attribute consumer.
        </p>

        <p>
          The prototype helps users to understand if they’re ready to apply for certification.
          </p>


      <p>Link here to <a href="/start">start</a>

    </div>

  </div>
{% endblock %}
