{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">IAX Certification</h1>

      <p>
        This is a prototupe for obnboarding organisations who wish to join the Identity and Attributes Exchange (IAX) as an identity or attribute provider or attribute consumer
        </p>

        <p>
          The prototype follows the check you're eligible design pattern to help users to understand if they are ready to apply for certification.
          </p>


      <p>Link here to <a href="/start">start</a>

    </div>

  </div>
{% endblock %}
